.container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

/* .header {
  text-align: left;
} */

.searchbar {
  grid-column: 1 /span 3;
  grid-row: 2;
}

.home {
  grid-row: 3;
  grid-column: 2;
}

@media (prefers-reduced-motion: no-preference) {
  
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
