.catcontainer {
    max-width: 960px;
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-columns: 20% 80%;
    grid-gap: 10px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .logo {
    max-width:100px;
    grid-row: 1;
    grid-column: 1;
    padding: 5px;
  }

 .card {
    grid-row: 2;
    grid-column: 2;
 }
